body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#games {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

#instagram {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #4d94ff;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}